.quiz-container {
    max-width: 840px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
    border: 1px var(--gray-black) solid;
    border-radius: 5px;
    padding: 5px 10px;
    min-height: 70%;
}

.container {
    margin-top: 100px;
    flex-direction: column;
}

.quiz-title {
    color: var(--blue);
}

.quiz-select-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 250px;
    height: 150px;
    color: var(--white);
    background-color: var(--blue);
    transition: background .2s;
    cursor: pointer;
}

.quiz-button {
    background: var(--white);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity .2s;
}

.quiz-button:hover {
    opacity: .8;
}

.quiz-button:not(:last-child) {
    margin-right: 10px;
}

.quiz-top-container {
    display: flex;
    justify-content: space-between;
}

.quiz-header {
    min-width: 840px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.quiz-add {
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--white);
    transition: opacity .2s;
}

.quiz-add:hover {
    opacity: .8;
}