.button {
    transition: background .2s;
    background: var(--blue);
    color: var(--white);
    width: 200px;
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.form-header {
    color: var(--blue);
    margin-bottom: 10px;
}

.form-input {
    font-size: 16px;
    padding: 5px 10px;
    border: 1px var(--gray-black) solid;
}

.button:hover {
    cursor: pointer;
    background: var(--blue-gray);
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-bottom: 10px;
}